@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-400;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}

@media print {
  html,
  body {
    height: 100% !important;
  }
  @page {
    /* size: auto; */
    size: landscape;
    margin: 0; /* this affects the margin in the printer settings */
    width: 100% !important;
    height: 100% !important;
  }
}
