{
    email admin@{$VITALAB_DOMAIN}
}

{$VITALAB_DOMAIN} {
    reverse_proxy vitalab-storefront:8000
}

results.{$VITALAB_DOMAIN} {  	
    reverse_proxy vitalab-results:3001
}

pay.{$VITALAB_DOMAIN} {
    reverse_proxy vitalab-pay:3002
}

admin.{$VITALAB_DOMAIN} {
    reverse_proxy vitalab-core:9000
}

# Using only one site definition for port 9000 to avoid ambiguity
{$VITALAB_DOMAIN}:9000 {
    reverse_proxy vitalab-core:9000
}

api.{$VITALAB_DOMAIN} {
    reverse_proxy vitalab-core:9000
}

partners.{$VITALAB_DOMAIN} {  
  reverse_proxy partners:3000  {
    header_down Strict-Transport-Security max-age=31536000;
  }
}

r.{$VITALAB_DOMAIN} {  
  root * /usr/share/caddy/r
  file_server
}

pgadmin.{$VITALAB_DOMAIN} {
  reverse_proxy adminer:8080
}

www.vitalab.dp.ua, vitalab.dp.ua {
  redir https://{$VITALAB_DOMAIN} 301
}
