{
  email admin@vitalab.com.ua
}

vitalab.com.ua {
    reverse_proxy vitalab-storefront:8000
}

results.vitalab.com.ua {  	
    reverse_proxy vitalab-results:3001
}

pay.vitalab.com.ua {
    reverse_proxy vitalab-pay:3002
}

admin.vitalab.com.ua {
    reverse_proxy vitalab-core:9000
}

:9000 {
    reverse_proxy vitalab-core:9000
}

vitalab.com.ua:9000 {
    reverse_proxy vitalab-core:9000
}

api.vitalab.com.ua {
    reverse_proxy vitalab-core:9000
}

partners.vitalab.com.ua {  
  reverse_proxy partners:3000  {
    header_down Strict-Transport-Security max-age=31536000;
  }
}

r.vitalab.com.ua {  
  root * /usr/share/caddy/r
  file_server
}

pgadmin.vitalab.com.ua {
  reverse_proxy adminer:8080
}

www.vitalab.dp.ua, vitalab.dp.ua {
  redir https://vitalab.com.ua 301
}